* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Amiri;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  font-size: 100px;
  font-weight: 700;
}

h5 {
  font-size: 20px;
}
